---
import type { Workshop } from "@/lib/contentful";
import { locationToAddress } from "@/lib/utils/locationParser";

const workshops = Astro.props.workshops;
---

<ul class="flex flex-wrap w-full my-8 justify-evenly">
  {
    workshops.map((workshop: Workshop) => {
      return (
        <li class="w-1/3 p-4">
          <a
            class="block transition-all group hover:scale-110"
            href={`/workshops/${workshop.props.slug}/`}
          >
            <h3
              set:html={workshop.props.headline}
              class="text-xl text-red-500 group-transition-colors group-hover:text-red-300"
            />
            {workshop.props.parentTitle && (
              <p
                class="mt-2 font-secondary"
                set:html={workshop.props.parentTitle}
              />
            )}
            {async () => {
              const address = await locationToAddress(workshop.props.location);

              return <p set:html={address.city || address.village} />;
            }}

            {workshop.props.readableDate && (
              <p set:html={workshop.props.readableDate} />
            )}
          </a>
        </li>
      );
    })
  }
</ul>
