---
import { plainify } from "@/lib/utils/textConverter";

const { title, slug, image, description } = Astro.props.data;
---

<li class="">
  <a href={`/workshops/${slug}/`}>
    <div class="relative grid grid-cols-2 gap-8 mb-8 overflow-hidden h-80">
      <div class="flex justify-end">
        <img src={image.fields.file.url} alt="" class="m-0 h-80" />
      </div>
      <div>
        <h3 set:html={plainify(title)} class="" />
        <p set:html={plainify(description)} class="" />
      </div>
    </div>
  </a>
</li>
