---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import * as config from "@/config/config.json" assert { type: "json" };
import * as menu from "@/config/menu.json" assert { type: "json" };
import * as social from "@/config/social.json" assert { type: "json" };
import { markdownify } from "@/lib/utils/textConverter";

const { footer }: { footer: { name: string; url: string }[] } = menu;
---

<footer class="border-t border-border">
  <div class="container">
    <div class="row items-center py-8">
      <div class="mb-8 text-center md:col-3 md:mb-0 md:text-left">
        <Logo />
      </div>
      <div class="mb-8 text-center md:col-6 md:mb-0">
        <ul>
          {
            footer.map((menu) => (
              <li class="m-2 inline-block">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center md:col-3 md:mb-0 md:mt-0 md:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
  <div class="container text-center text-light mb-8">
    <p set:html={markdownify(config.params.copyright)} />
  </div>
</footer>
