.optical-sm {
    font-variation-settings: "opsz" 7;
  };
  
  .optical-md {
    font-variation-settings: "opsz" 24;
  };
  
  .optical-lg {
    font-variation-settings: "opsz" 72;
  };
  
  .font-serif .italic {
    @apply font-serif-italic;
  }
  .font-sans .italic {
    @apply font-sans-italic;
  }
  .prose italic,
  .prose .italic,
  .prose i,
  .prose em,
  .prose blockquote {
    @apply font-serif-italic;
  }

  .prose blockquote p:after,
  .prose blockquote p:before {
    content: none;
  }