.optical-sm {
    font-variation-settings: "opsz" 6;
  };
  
  .optical-md {
    font-variation-settings: "opsz" 11;
  };
  
  .optical-lg {
    font-variation-settings: "opsz" 36;
  };
  
  .font-serif .italic {
    @apply font-serif-italic;
  }
  .font-sans .italic {
    @apply font-sans-italic;
  }
  .prose italic,
  .prose .italic,
  .prose i,
  .prose em,
  .prose blockquote {
    @apply font-serif-italic;
  }

  .prose blockquote p:after,
  .prose blockquote p:before {
    content: none;
  }