---
import { simpleGermanDate } from "@/lib/utils/dateParser";
import RichTextContainer from "@/components/RichTextContainer.astro";

const { title, slug, description, publishedAt } = Astro.props.data.props;

const readableDate = simpleGermanDate(publishedAt);
---

<li>
  <a
    class="block transition-all group hover:scale-110"
    href={`/articles/${slug}/`}
  >
    <h3
      set:html={title}
      class="text-xl text-red-500 group-hover:text-red-300"
    />
    {
      description && (
        <div class="mx-auto prose rich-text-container">
          <blockquote class="mb-8 text-left" set:html={description} />
        </div>
      )
    }
    {readableDate && <p set:html={readableDate} />}
  </a>
</li>
