---
import Base from "./Base.astro";

export interface Props {
  title?: string;
  slug?: string;
  image?: { fields: { file: { url: string } } };
  content: string;
}

const { title, content, slug, image } = Astro.props;
---

<Base title={title} meta_title={title}>
  <section class="pt-10 section">
    <div>
      {image && <img src={image.fields.file.url} alt="" />}
      <h1 set:html={title} class="mb-1 lg:text-4xl" />
      <article set:html={content.replace(/\n/g, `</br>`)} />
    </div>
  </section>
</Base>
