---
import Base from "./Base.astro";

export interface Props {
  title: string;
  slug: string;
  description: string;
}

const { title, description, slug } = Astro.props;
---

<Base title={title} meta_title={title}>
  <section class="pt-10 section">
    <div class="grid grid-cols-2 gap-8">
      <div>
        <h1 set:html={title} class="mb-1 lg:text-4xl" />
        <article set:html={description.replace(/\n/g, `</br>`)} />
      </div>
    </div>
  </section>
</Base>
